<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>

<section class="bg-color">
  <div class="container">
    <div class="row">    
      <div class="col-md-3 col-sm-4">
        <div class="video-container">
          <video class="video" controls>
            <source src="../../../assets/miami-florida-usa-by-drone-4k-video-ultra-hd-hdr-1280-ytshorts.savetube.me.mp4" type="video/mp4">
          </video>
          <div class="video-description"><p>Descripción del primer video</p></div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="video-container">
          <video class="video2" controls>
            <source src="../../../assets/miami-florida-usa-by-drone-4k-video-ultra-hd-hdr-1280-ytshorts.savetube.me.mp4" type="video/mp4">
          </video>
          <div class="video-description"><p>Descripción del segundo video</p></div>
        </div>
      </div>

  
      <div class="col-md-3 col-sm-4">
        <div class="video-container">
          <video class="video3" controls>
            <source src="../../../assets/miami-florida-usa-by-drone-4k-video-ultra-hd-hdr-1280-ytshorts.savetube.me.mp4" type="video/mp4">
          </video>
          <div class="video-description"><p>Descripción del tercer video</p></div>
        </div>
      </div>
    </div>
  </div>
</section>
