<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>

<section class="bg-color">
  <div class="containers">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <section>
          <div class="container1">
            <div class="image">
              <img class="person1" src="../../../assets/photo 2g.webp" (click)="toggleDescription()">
            </div>
          </div>
        </section>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="main-descripcion">
          <div class="descripcion">
            <p class="descripción" *ngIf="!showDescription">
              JUAN ALFREDO <span>ORTEGA</span> <br>
              <span>67</span> <br>
              <br>
              <cite>Artesano dedicado a la Orfebreria, piedra autoctonas y Madera llegando a mezclar esos 3 pilares para crear piezas de una gran cantidad de detalles y simbolismo cultural arte religioso y criollo que hasta el dia de hoy forman parte de su trabajo y su arte.</cite><br>
            </p>
          </div>
        </div>

        <div class="main-descripcion">
          <div class="descripcion">
            <p class="descripción" *ngIf="showDescription">
              ERLINDA VALERIA <span>LOPEZ</span> <br>
              <span>48</span> <br>
              <br>
              <cite>Artesana dedicada a la Orfebreria, Cincelado a mano, Madera y asta de vaca creando piezas de platería tradicional de mucha delicadeza y detalles que se descubren mientras mas lo aprecian. sus años de trabajo se ven reflejados en sus minusiosas piezas.  </cite><br>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12">
        <section>
          <div class="container2">
            <div class="image">
              <img class="person2" src="../../../assets/photo 1m.webp" (click)="toggleDescription()">
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>


